<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="refiancingProducts && refiancingProducts.length">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let refiancingProduct of refiancingProducts">
            <td>
              {{ refiancingProduct.productDescription }}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
